

body {
    /* background: linear-gradient(to top,  #0077B6, #03045E);  */
    /*background:#00B4D8 !important;*/
    
    background:linear-gradient(180deg, #03045E, #0077B6,#00B4D8,#0077B6, #03045E) !important;
    /*, , #00B4D8 */
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    min-height: 100vh;
    margin: 0;
    
    

}

.formulario {
    background-color: #90E0EF; 
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px); 
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(0, 0, 0, 0.1);
    
}

 h4, label, h2, h3, h5, input {

    color: #03045E !important;
    
}


.titulo{
    display: flex;
    justify-content: center;
    padding-bottom: 15px;
}

/* Main.css */
/*

    */
.btn-primary {
    background: linear-gradient(180deg, #0077B6,#00B4D8); /* Degradado de azul oscuro a azul brillante /
    color: #ffffff; / Color del texto */
    
    margin-left: auto !important;
    display: block;
}
.btn-primary:hover{

    background: linear-gradient(180deg, #00B4D8, #0077B6)
}





/*
h4, h5, h3 {
    text-decoration: underline;
} */
